//====== COLORS =======
$head4-color: rgb(49, 45, 130);
$body-color : rgb(81, 83, 85);
$head3-color: rgb(70, 71, 73);
$border-color : rgb(255, 168, 52);
$reference-color : rgb(30, 31, 32);
$primary-border : 3px solid $border-color;

//====== FONT SIZES =======
$text-size : 19px;
$sect-padding: 40px 45px;
$responsive-padd : 35px 25px;

